html, body, div {
	margin: 0;
	padding: 0;
}

#container {
	width: 1024px;
	height: 450px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -512px;
	margin-top: -225px;
	background-image: url(./images/0.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
}

.loading {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.7);
}

.loading img {
	width: 50px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -25px;
	margin-left: -25px;
	-webkit-animation: rotate 0.8s linear infinite;
	-moz-animation: rotate 0.8s linear infinite;
	animation: rotate 0.8s linear infinite;
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes rotate {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}