html, body, div {
	margin: 0;
	padding: 0;
}

#container {
	width: 1024px;
	height: 450px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -512px;
	margin-top: -225px;
	background-image: url(./0.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
}