html, body, div {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(./images/bg.jpg);
	-webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}

.hide {
	width: 0;
	height: 0;
	display: none;
}

#myCanvas {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -250px;
	display: block;
	cursor: pointer;
	border-radius: 6px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}