html, body, div {
	margin: 0;
	padding: 0;
}

.content {
	width: 800px;
	height: 0;
	padding-bottom: 450px;
	background-color: #f7f7f7;
	margin: 100px auto;
	background-repeat: no-repeat;
}

.bg {
	background-image: url(./images/a.jpg), url(./images/b.jpg);
	background-position: 0 0, 100% 0;
	background-size: 50%;
}

.hide {
	width: 0;
	height: 0;
	opacity: 0;
}

#myCanvas {
	display: block;
	margin: 100px auto 0 auto;
	transform: translate3d(0,0,0);
}